{% extends "layout.html" %}

{% block body %}
    <h1 class = "virsraksts">Pieteikšanās turnīram</h1>
    <form action="/registration" method="post"></form>
        <div>Kommandas nosaukums<input type="text" name="name"></div>
        <div>Kommandas kapteiņa vārds<input type="text" name="name">
            Kommandas kapteiņa Steam ID<input type="text" name="name"></div>
        <div>1.spēlētāja vārds<input type="text" name="name">
            1.spēlētāja Steam ID<input type="text" name="name"></div>
        <div>2.spēlētāja vārds<input type="text" name="name">
            2.spēlētāja Steam ID<input type="text" name="name"></div>
        <div>3.spēlētāja vārds<input type="text" name="name">
            3.spēlētāja Steam ID<input type="text" name="name"></div>
        <div>4.spēlētāja vārds<input type="text" name="name">
            4.spēlētāja Steam ID<input type="text" name="name"></div>
        
        
{% endblock %}